<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
        <label for="username" class="required">Username</label>
        <input required id="username" class="form-control" type="text" formControlName="username">    
        <div class="text-danger" *ngIf="registerForm.get('username')?.errors?.['required'] && registerForm.get('username')?.touched">Le champs est requis</div>
        <div class="text-danger" *ngIf="registerForm.get('username')?.errors?.['maxlength']">La taille maximale est de 30 charactères</div>
        <div class="text-danger" *ngIf="registerForm.get('username')?.errors?.['minlength']">La taille minimale est de 2 charactères</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" formControlName="password">
        <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">Ce champs est requis</div>
    </div>
    <div class="form-group">
        <label for="confirmPass">Confirm password</label>
        <input id="confirmPass" class="form-control" type="password" formControlName="confirmPassword">
        <div class="text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && registerForm.get('confirmPassword')?.touched">Ce champs est requis</div>
        <div class="text-danger" *ngIf="registerForm.errors?.['notsamepassword'] && registerForm.get('confirmPassword')?.touched">Vos mots de passe ne sont pas identiques</div>
    </div>
    <input class="btn btn-primary" type="submit" value="Register">
</form>
