<nav class="navbar navbar-dark">
    <ul class="nav flex-row">
      <li *ngFor="let link of links; let i = index" class="nav-item">
        <a (click)="toggleChildren(i)" class="nav-link active" [ngClass]="{'bg-black': link.isVisible}" routerLink="{{link.url}}">{{link.title}}</a>
        <ul *ngIf="link.isVisible && link.children" class="nav submenu">
          <li *ngFor="let child of link.children" class="nav-item">
            <a class="nav-link active" routerLink="{{child.url}}"><span>{{child.title}}</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
