<form [formGroup]="addForm" (ngSubmit)="submit()" enctype="multipart/form-data">
 
      
    <div class="form-group">
        <label for="file">File</label>
        <input id="file" type="file" class="form-control" (change)="onChange($event)">
        <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file.errors?.required">File is required.</div>
        </div> -->
    </div>
          
    <button class="btn btn-primary" type="submit" value="submit">Submit</button>
</form>